<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	li{
		list-style:none;
	}
</style>
</head>
<body>
	<!--<form action="servlet1" method="post">
		Name: <input name ="userId" type="text" /><br />
		Password: <input name="userPw" type="password">
		<input type="submit" value="login" />
	</form>
	
	<form action="MySearcher">
		<input type="text" name="name" />
		<input type="submit" value="google search" />
	</form>-->
	
	<h1>Welcome to Login App by Cookie</h1>
	<ul>
		<li><a href="login.html">Login</a></li>
		<li><a href="LogoutServlet">logout</a></li>
		<li><a href="ProfileServlet">profile</a></li>
	</ul>
	
</body>
</html>